# Runtime dependencies
customtkinter==5.2.2
mysql-connector-python==9.6.0
tkintermapview==1.29
matplotlib==3.10.8
Pillow==12.1.1
geopy==2.4.1

# Build dependencies
pyinstaller==6.19.0
pyinstaller-hooks-contrib==2026.2
